<% layout('layouts/head') %>

<form action="/jobs" method="post">
  <div>
    <label for="title">Job Title</label>
    <input type="text" id="title" name="job[title]" />
  </div>
  <div>
    <label for="location">Location</label>
    <input type="text" id="location" name="job[location]" />
  </div>
  <button>Submit Job</button>
</form>
<a href="/jobs">All Jobs</a>
