<% layout('layouts/head') %>

<h1><%= job.title %></h1>
<h2><%= job.location %></h2>
<div>
  <form action="/jobs/<%= job._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</div>

<footer>
  <a href="/jobs/<%= job._id %>/edit">Edit</a>
  <a href="/jobs">All Jobs</a>
</footer>
